<div class="loginContainer">
  <div class="alert alert-danger" role="alert" *ngIf="isError">
    {{ errorMsg }}
  </div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" required />
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" required />
    <button type="submit">Login</button>
    <a href="" [routerLink]="['/signup']" class="question"
      >don't have an account?</a
    >
  </form>
</div>
